.cor2{
    color: blue;
    background: chartreuse;
    text-align: center;
    margin-top: 175px;
    margin-right: 175px;
    margin-bottom: 175px;
    margin-left: 175px;
    background-color: burlywood;
    }

cf1{
    color: rgb(137, 137, 180);
    background-color: rgba(90, 33, 33, 0.582);
}
.cor21{
    text-align: center;
}

