
<div class="container">
  <h1 class="cor1"> Sistema Controll</h1>
  <nav>
  <div class="container">

<div class="cor3" >
<nav class="navbar">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Produtos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Fornecedores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tanques</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Bombas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Compra</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Venda</a>
  </li> 
  
</ul>
</nav>
</div>





